@model IEnumerable<Crud.Models.MediosDePagos>


@{
    ViewData["Title"] = "Lista de Medios de Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if(TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" date-dissmiss="alert" arial-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
    }

<div class="row">
    <div class="col-sm-6">
        <h4>Lista de Medios de Pagos</h4>
    </div>
    
        
    </div>
    <div>
        <form method="post" asp-action="Index">
            <table>
                <tbody>
                    <tr>
                        <td><input class="form-control" name="SearchString" /></td>
                        <td><input type="submit" value="Buscar" class="btn btn-primary" /></td>
                        <td>
                                <a class="btn btn-success d-block" asp-action="Create" asp-controller="MediosDePagos"> Agregar medio de pago</a>
                        </td>
                    </tr>
                </tbody>
            </table>
                
        </form>
    </div>
    
</div>

    <div class="row">
        @if(Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Id) </td>
                        <td>@Html.DisplayNameFor(m => m.Detalle) </td>
                        <td>@Html.DisplayNameFor(m => m.FechaCreacion) </td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Detalle</td>
                        <td>@item.FechaCreacion</td>
                        <td>
                            <a asp-controller="MediosDePagos" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-controller="MediosDePagos" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
            {
                <p> No existen registros</p>
            }

    </div>
</div>

